.info__container {
    text-align: center;
    background: #2A2A44;
    border-radius: 50px;
    margin-top: 2rem;
}

.info__title {
    font-size: clamp(2rem, 8vw, 4rem);
}

.info__text {
    font-size: clamp(1rem, 4vw, 3rem);
}

@media screen and (min-width:744px) {
    .info__container {
        padding-top: 2.5rem;
        padding-bottom: 4rem;
    }
}