.skills__container {
    background: var(--bg);
    margin-top: 1rem;
    border-radius: 15px;
    padding-bottom: 1rem;
}

.skills__title,
.skills__subtitle {
    text-align: var(--cn);
    font-size: clamp(2rem, 8vw, 4rem);
}

.skills__subtitle {
    text-align: var(--cn);
}

.skills__text {
    display: flex;
    justify-content: space-between;
    font-size: clamp(1rem, 4vw, 3rem);
}

.skills__block {
    width: 90%;
    background: white;
}

.skills__block--active {
    width: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: white;
}

.skills__element--small {
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #362F4F;
}

.skills__element--medium {
    width: 85%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background: #362F4F;
}

.skills__element--large {
    width: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #362F4F;
}

@media screen and (min-width:1280px) {
    .skills__container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    .skills__item {
        width: calc(100% / 2.2);
    }
}